.temperaturePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #EFEFEF;
}

.containerTemperaturePage{
    width: 100%;
    height: calc(100vh - 75px);
    flex: 1;
    margin-top: 30px;
    display: flex;

}
.leftSideTemperaturePage{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: column;
}

.rightSideTemperaturePage{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.leftUpTemperatuePage{
    width: 80%;
    height: 100vh;
    background-color: #74B49B;
    margin-top: 25px;
    border-radius: 25px;
}

.leftDownTemperatuePage{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideButtonHolderTemperaturePage{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 50px 25px 25px 25px;
}

.spacer{
    margin: 25px;
}

.textHolderTemperaturePage{
    margin: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.temperatureTextTempPage{
    font-size: 25px;
    margin-bottom: 50px;
}
.temperatureValueTempPage{
    font-size: 75px;
}

.weatherWidget{
    width: 80%;
    height: 30vh;
    background-color: #74B49B;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.temperatureWidgetValue{
    font-size: 75px;
}

.humidityLocationDiv{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 23px;
}

.temperatureValueDiv{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.locationIcon{
    margin-right: 10px;
    color: black;
}

.weatherIcon{
    width: 50px;
    height: 50px;
}
.timeHolderDiv, .dateHolderDiv{
    border: 5px solid #74B49B;
    border-radius: 10px;
}
.weatherDataLocationDiv{
    margin-top: 10px;
}
.humidityIcon{
    margin-left: 10px;
    margin-right: 10px;
}
