.waterComponent{
    width: 310px;
    height: 310px;
    border: 5px solid #74B49B;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
}
.widgetTitleWater{
    font-size: 30px;
    margin-top: 10px;
}
.contentWater{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.waterButtonDiv{
    display: flex;
    flex-direction: column;
}
.waterButtonDiv1{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-left: 20px;
    margin-right: 20px;
}
.waterButtonDiv2{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}