.humiditiyComponent{
    width: 310px;
    height: 310px;
    border: 5px solid #74B49B;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.widgetTitleHumidity{
    text-align: center;
    font-size: 35px;
}