.notificationPage{
    background-color: #EFEFEF;
    display: flex;
}
.notificationContainer{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificationsComponentsDiv{
    margin-top: 50px;
    width: 900px;
    height: 550px; 
    border: 5px solid #74B49B; 
    background-color: white;
    border-radius: 15px;
    overflow-y: scroll;
} 