.notificationPage{
    background-color: #F6FBF9;
    display: flex;
}
.notificationContainer{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.notificationsComponentsDiv{
    margin-top: 50px;
    width: 900px;
    height: 550px;
    border: 2px solid black; 
    background-color: white;
} 