.temperatureComponent{
    width: 310px;
    height: 310px;
    border: 5px solid #74B49B;
    border-radius: 15px;
    margin: 10px;
    background-color: white;
}
.widgetTitle{
    font-size: 30px;
    margin-left: 10%;
}
.content{
    margin: 10px 20px 10px 20px;
}
.temperatureValue{
    display: block;
    font-size: 70px;
    margin-left:25%;
    margin-top: 25%;
}
.temperatureWidgetDiv{
    margin-top: 10%;
}

.buttonClass{
    background-color: #2d63c8;
	border: 5px solid #2d63c8;
	border-radius: 10px;
	padding: 15px 50px;
	cursor: pointer;
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonClass{
    color: #2d63c8;
    background-color: #74b49b;
} 
.noDataDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}
.noDataForGreenhouseSpan{
    font-size: 25px;
    margin: 10px;
    text-align: center;
}
.noDataForGreenhouseSpan2{
    font-size: 16px;
    margin: 10px;
    text-align: center;
}